@charset "UTF-8";
// font
$font-size-s: 12px;
$font-size-m: 14px;


// color
$color-body: #262626;
$color-text: rgba(255,255,255, 0.7);
$color-border: rgba(255,255,255,0.08);
$color-form: rgba(0,0,0,0.2);
$color-form-text:rgba(255,255,255, 0.7);


// Width
$width-pc: 900px;
$width-sp: 899px;

// pc-font
$pc-font-size-s: 10px;
$pc-font-size-m: 15px;
$pc-font-size-h: 24px;

// sp-font
$sp-font-size-s: 1.2rem;
$sp-font-size-m: 1.5rem;
$sp-font-size-h: 2.6rem;