@charset "UTF-8";
/* --------------------------------------------------------------
    layout
-------------------------------------------------------------- */
body{
    text-align: center;
}

main{
    position: relative;
}

.m-sns{
    position: absolute;
    top: 0px;
    right: 0px;
}

footer{
    margin-top: 20px;
    font-size: 75%;
    padding: 0 10% 20px;
}

.wrap{
    text-align: left;
}

/* PC */
@include media-pc {
    body{
        margin: 0 5%;
    }
    .wrap{
        margin: 20px auto;
        text-align: left;
        max-width: 1100px;
        position: relative;
        @include clearfix;

        main{
            @include clearfix;
            width: 900px;
            // float: right;
            // background-color: rgba(27,29,31,0.1);
            border: 2px solid $color-border;
            border-radius: 5px;
            display: table;
            width: 100%;
        }

        .l-input,.l-macro{
            position: relative;
            display: table-cell;
            padding: 30px;
            vertical-align: top;
        }

        .l-input{
            display: table-cell;
            width: 60%;
            border-right: 2px solid $color-border;
        }

        .l-macro{
            display: table-cell;
            width: 40%;
        }
    }
}

/* SP */
@include media-sp {
    .wrap{
        text-align: left;
    }

    .wrap > header ,.info ,main{
        display: flex;
        width: 100%;
        flex-direction:column;
    }



    main{
        section{
            padding: 10px 0;
        }

        .box-input{
            .m-switch{
                margin: 15px 0;
                padding: 0 3%;
            }
        }

        .box-select,.box-macro{
            padding: 10px 3%;
        }
    }


}