@charset "UTF-8";
/* --------------------------------------------------------------
    layout
-------------------------------------------------------------- */
body{
    text-align: center;
}

main{
    position: relative;
}

footer{
    margin: 40px 0 30px;
    font-size: 75%;
    padding: 0 10% 20px;
}

.wrap{
    text-align: left;
}

.fb-like{
    position: relative;
    top: -6px;
    margin-right: 10px;
}
.fb_iframe_widget iframe{
    right: 0;
}

.ad{
    margin: 40px auto;
}
.pc,.sp{
    img{
        max-width: 100%;
    }
}

/* PC */
@include media-pc {
    body{
        // margin: 0 5%;
    }
    .wrap{
        margin: 40px auto;
        padding:0 5%;
        text-align: left;
        max-width: 1200px;
        position: relative;
        @include clearfix;

        main{
            @include clearfix;
            width: 900px;
            // float: right;
            // background-color: rgba(27,29,31,0.1);
            // border: 2px solid $color-border;
            border-radius: 5px;
            display: table;
            width: 100%;
        }

        .l-input,.l-macro{
            position: relative;
            display: table-cell;
            vertical-align: top;
        }

        .l-input{
            display: table-cell;
            width: 65%;
            padding-right: 40px;
            // border-right: 2px solid $color-border;
        }

        .l-macro{
            display: table-cell;
            width: 35%;
        }
    }
    .info{
        max-width: 1100px;
        margin: 30px auto 0;
    }

    .sp{
        display: none;
    }
    .pc{
        display: block;
    }
}

/* SP */
@include media-sp {
    .wrap{
        margin-top: 10px;
        text-align: left;
    }

    .wrap > header ,.info ,main{
        display: flex;
        width: 100%;
        flex-direction:column;
    }

    .m-input-header{
        margin: 10px 3%;
    }
    .l-macro{
        padding: 15px 3%;
    }

    .info{
        padding: 15px 3%;
    }

    .ad{
        margin: 20px 3% 0;
    }

    footer{
        margin: 20px 0;
    }

    .sp{
        display: block;
    }

    .pc{
        display: none;
    }


}