@charset "UTF-8";

/* --------------------------------------------------------------
    module
-------------------------------------------------------------- */
.bg{
	background: url(../images/common/bg.jpg) center center no-repeat fixed;
	background-size: cover;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

/* select */
.m-switch{
	label{
		margin:0 15px 0 8px;
	}
}

/* input */
.box-input{

	table{
		width: 100%;

		th,td{
			padding: 8px 5px;
			border-bottom:1px solid $color-tb-border;
		}

		input{
			width: 100%;
			// ime-mode: disabled;
		}

		thead{
			th{
				padding: 5px;
				text-align: center;
				background-color: rgba(0,0,0,0.2);
			}
		}


		tbody{
			th{
				text-align: center;
				width: 30px;
			}

			.td-item,.td-name span{
			}

			.td-name{
				width: 30%;
			}
		}

		.member{
			th,td{
				vertical-align: top;
			}

		}
	}

	.td-item{
		display: table;
		width: 100%;
		margin-bottom: 5px;

		.td-item-btn {
			display: table-cell;
			vertical-align: middle;
			width: 35px;

			.btn-delete {
				padding: 7px 8px;
				line-height:1;
			}
		}

		figure{
			display: table-cell;
			vertical-align: top;
			text-align: left;

			img{
				vertical-align: top;
				width: 100%;
			}
		}

		figcaption{
			display: table-cell;
			padding-left: 8px;
			vertical-align: middle;
			text-align: left;

			span,small{
				display: block;
			}

			small{
				font-size: 1.1rem;
				color: rgba(255,255,255,0.6);
			}
		}
	}
}

.m-switch{
	margin-bottom: 10px;
}

/* macro */
.box-macro{
	textarea{
		width: 100%;
		overflow-y:scroll;
	}

	header{
		@include clearfix;
		display: block;

		h3{
			float: left;
		}

		button{
			float: right;
			margin-bottom: 5px;
			position: relative;
			top: -2px;
		}
	}

	h3{
		font-size: 101%;
		margin-bottom: 10px;
	}
}


/* PC */
@include media-pc {

	/* input */
	.box-input{
		padding-top: 10px!important;

		table{
			border:1px solid $color-tb-border;
		}

		.td-item{
			figure{
				width: 40px;
			}
		}
	}

  #macro-text{
      height: 20em;
  }

}

/* SP */
@include media-sp {

	.btn-text{
		padding: 8px;
	}


	/* input */
	.box-input{
		.td-item{
			figure{
				width: 30px;
			}
		}
		thead{
			th,td{
				border: 0!important;
			}
		}
	}

  #macro-text{
      height: 14em;
  }


}