@charset "UTF-8";

/* --------------------------------------------------------------
    header
-------------------------------------------------------------- */
.m-header{
	text-align: left;
	//background-color: rgba(0,0,0,0.3);
	@include clearfix;
	border-bottom: 1px solid $color-border;
	position: relative;


  h1{
  	// font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
  	font-size: 2rem;
  	float: left;
  	color: #fff;
 		span{
 			padding-right: 10px;
 		}
  }

  .m-sns{
  	float: right;
	}
}

// .hr{
// 	height: 1px;
// 	background-color: rgba(255,255,255, 0.1);
// }


/* PC */
@include media-pc {
.m-header{
	padding:10px 20px;
	.m-sns{
		margin-top: 5px;
	}

	h1{
		width: 200px;
	}
}

}

/* SP */
@include media-sp {
.m-header{
	padding:10px 3%;
	h1{
		width:160px;
	}
}

}