@charset "UTF-8";

/* --------------------------------------------------------------
    header
-------------------------------------------------------------- */
.m-header{
	//background-color: rgba(0,0,0,0.3);
	@include clearfix;
	border-bottom: 1px solid $color-border;

	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	align-items: center;


  h1{
  	// font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
  	font-size: 2rem;
  	color: #fff;
 		span{
 			padding-right: 10px;
 		}
  }

  .m-sns{
  		margin-left: auto;
  		margin-top: 5px;
	}
}


/* PC */
@include media-pc {
.m-header{
	padding:12px 20px;

	h1{
		width: 190px;
	}
}

}

/* SP */
@include media-sp {
.m-header{
	padding:10px 3%;
	h1{
		width:160px;
	}
}

}