@charset "UTF-8";

/* --------------------------------------------------------------
    module
-------------------------------------------------------------- */
.bg{
	background: url(../images/common/bg.jpg) center center no-repeat fixed;
	background-size: cover;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

.wrap > header{
    // background-color: rgba(0,0,0,0.6);
    border-radius: 5px;
    text-align: center;
    margin: 30px 0;

    h1{
    	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
   		span{
   			padding-right: 10px;
   		}
    }

}

.btn-text{
	display: inline-block;
	padding: 6px 8px;
	border-radius: 3px;
	font-size: 90%;
	font-weight: normal;
	white-space: nowrap;
	line-height: 1;

	background: none;
	border: 0 none;
	color: #fff;

		background: #3795ff;
		box-shadow: inset 0 0 2px 1px rgba(#005ad4, 0.3);
		text-shadow:0px -1px 1px rgba(#005ad4,0.3);

	// border: 1px solid #5f86ff;

	// background: -moz-linear-gradient(
	// 			top,
	// 			rgba(0,0,0,0) 0%,
	// 			rgba(0,0,0,0.1));
	// background: -webkit-gradient(
	// 			linear, left top, left bottom,
	// 			from(rgba(0,0,0,0)),
	// 			to(rgba(0,0,0,0.1)));

	// &:hover{
	// 	box-shadow: inset 0 0 2px 1px rgba(#a8bdff, 0.4),0px 0px 2px 1px rgba(#fdd1ff,0.2);
	// 	transition:all .3s ease;

	// }

		&:hover{
			box-shadow: 0px 0px 2px 1px rgba(#ffffff,0.5);


		}


	&.is-edit{

		background: #4a37ff;
		box-shadow: inset 0 0 2px 1px rgba(#005ad4, 0.3);
		text-shadow:0px -1px 1px rgba(#005ad4,0.3);

		&:hover{
			box-shadow: 0px 0px 2px 1px rgba(#ffffff,0.5);


		}

	}

	&.is-normal{

		background: #3a3a3a;
		box-shadow: inset 0 0 2px 1px rgba(#005ad4, 0.3);
		text-shadow:0px -1px 1px rgba(#005ad4,0.3);

		&:hover{
			box-shadow: 0px 0px 2px 1px rgba(#ffffff,0.5);


		}




	}

}



/* select */

.m-switch{
	label{
		margin:0 15px 0 8px;
	}
}

/* input */
.box-input{


	table{
		width: 100%;

		th,td{
			padding: 8px 5px;
			border-top:1px solid $color-border;
			border-bottom:1px solid $color-border;
		}

		input{
			width: 100%;
			// ime-mode: disabled;
		}

		thead{
			th{
				padding: 5px;
				text-align: center;
				background-color: rgba(0,0,0,0.2);
			}
		}


		tbody{
			th{
				text-align: center;
				width: 30px;
			}

			& > tr > td:last-child{
				width: 12%;
				text-align: center;
			}

			.td-item,.td-name span{
				display: none;
			}

			.td-name{
				width: 30%;
			}
		}




		.is-selected{
			select{
				display: none;
			}
			.td-item{
				display: block;
			}

			.td-name{
				input{
					display: none;
				}
				span{
					display: block;
				}

			}
		}


	}

	.td-item{
		display: table;
		width: 100%;

		figure{
			display: table-cell;
			vertical-align: top;
			text-align: left;

			img{
				vertical-align: top;
				width: 100%;
			}
		}

		figcaption{
			display: table-cell;
			padding-left: 8px;
			vertical-align: middle;
			text-align: left;

			span,small{
				display: block;
			}

			small{
				font-size: 78%;
				color: rgba(255,255,255,0.6);
			}

		}
	}
}

.m-switch{
	margin-bottom: 10px;
}

/* macro */
.box-macro{
	textarea{
		width: 100%;
		overflow-y:scroll;
	}

	header{
		@include clearfix;
		display: block;

		h3{
			float: left;
		}

		button{
			float: right;
			margin-bottom: 5px;
			position: relative;
			top: -2px;
		}
	}

	h3{
		font-size: 101%;
		margin-bottom: 10px;
	}


}

.m-clear{
	position: absolute;
	right: 30px;
	top: 30px;
}

.info{
	.memo{
		margin-top: 20px;
		padding: 20px;
		border: 2px solid $color-border;
		text-align: left;

		h4{
			text-align: center;
			margin-bottom: 15px;
		}

		li{
			font-size: 90%;
			display: table;
			width: 100%;
			span,div{
				display: table-cell;
			}
			span{
				padding-right: 10px;
			}
		}
	}

}


/* PC */
@include media-pc {

	/* input */
	.box-input{
		padding-top: 10px!important;

		table{
			border:1px solid $color-border;
		}

		.td-item{
			figure{
				width: 40px;
			}
		}
	}

	.info{
		margin-top: 30px;

		li{
			margin-bottom: 10px;
		}
	}

}

/* SP */
@include media-sp {
	.wrap > header{
		margin: 40px 0 5px;
		font-size: 90%;
	}
	.btn-text{
		padding: 8px;
	}

	/* input */
	.box-input{
		.td-item{
			figure{
				width: 30px;
			}
		}
		thead{
			th,td{
				border: 0!important;
			}
		}
	}

	.m-clear{
		right: 3%;
		top: 12px;
	}
}