@charset "UTF-8";

/* --------------------------------------------------------------
    info
-------------------------------------------------------------- */
.info{
	.memo{
		margin-top: 40px;
		padding: 20px;
		border: 1px solid $color-border;
		text-align: left;

		h4{
			text-align: center;
			margin-bottom: 15px;
		}

		ul{
			display: tabel;
			width: 100%;
		}

		li{
			font-size: 1.3rem;
			display: table-row;
			width: 100%;
			span,div{
				display: table-cell;
				text-align: left;
				vertical-align: top;
				padding-bottom: 8px;
			}
			span{
				padding-right: 18px;

			}
		}
	}
}

.info_detail{
	margin-top: 40px;
	text-align: center;


	.info_creator{
		span{
			display: inline-block;
			margin-right: 15px;
		}
		img{
			border-radius: 50%;
		}

	}
}


/* PC */
@include media-pc {
	.info{
		margin-top: 40px;

		li{
			margin-bottom: 10px;
		}
	}

	.info_creator{


		img{
			width: 45px;
			margin-right: 10px;
		}

	}
}

/* SP */
@include media-sp {
	.info{
		.memo{
			margin-top: 20px;
			padding: 15px;

			h4{
				margin-bottom: 10px;
			}
		}
	}

.info_detail{
	margin-top: 15px;
}

	.info_creator{

		img{
			width: 40px;
			margin-right: 8px;
		}

	}

}