@charset "UTF-8";

/* --------------------------------------------------------------
    m-input
-------------------------------------------------------------- */
.m-input-header{
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	.box-select{
	}

	.m-clear{
    text-align: right;
	}
}



/* PC */
@include media-pc {
.m-input-header{
	flex-direction:row;
}

.m-option{
  margin-top: 10px;
}

}

/* SP */
@include media-sp {

.m-input-header{
	-webkit-flex-direction:column;
	flex-direction:column;

	.box-select{
		-webkit-order:2;
    order:2;
	}
	.m-clear{
		-webkit-order:1;
    order:1;

    margin-bottom: 10px;
	}
}

.m-option{
  margin:10px 3%;
}

}