/* --------------------------------------------------------------
    select-modal
-------------------------------------------------------------- */
.select-item-open {
	overflow: hidden;
}

.select-item-modal{
	position: fixed;
	display:flex;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;

	text-align: center;

	background: rgba(0,0,0,0);
	visibility: hidden;
	transition: all 0.25s;
	padding:20px 0;

	.select-item-modal__body {
		border-radius: 5px;
		margin: auto auto;
		padding: 20px;
		width: 100%;
		max-width: 640px;
		background: url(../images/common/bg.jpg) center center no-repeat;
		background-size: cover;
		background-color: #fff;

		transform: translate3d(0,-30px,0);
		opacity: 0;
		transition: all 0.25s;
		position: relative;
	}

	.btn-close {
		position: absolute;
		top: 10px;
		right: 10px;
	}

	.select-item-modal__title {
		text-align: left;
		margin-bottom: 20px;
	}

	.select-item-modal__items {
		width: 100%;
		border: 1px solid $color-tb-border;

		tr {
			border: 1px solid $color-tb-border;
		}

		td, th {
			padding: 10px;
		}

		th {
			width: 100px;
		}

		td {
			text-align: center;
			padding-bottom: 0;
		}

		&.is-no-category {
			th {
				display: none;
			}
		}
	}

	.select-item-modal__item {
		position: relative;
		display: inline-block;
		text-align: center;
		margin-right: 20px;
		margin-bottom: 10px;

		img{
			border-radius:5px;
		}


		&.is-selected-just {
			color: #ff0;

			.select-item-modal__itemImg img {

			}
		}

		&.is-selected-over {
			color: #f00;

			.select-item-modal__itemImg img {

			}
		}

		&.is-disabled {
			.select-item-modal__itemImg {
				cursor: default;
				background-color: #000;
				img {

				}
			}
			.select-item-modal__itemName {
				opacity: 0.5;
			}
		}


		&.is-selected {
			.select-item-modal__itemImg img {
				box-shadow: #ffc 0 0 5px 2px;
				border: 1px solid #ff0;
				opacity: 1;
			}
		}

	}

	.select-item-modal__limit {
		// position: absolute;
		// top: 0;
		// left: 0;
		width: 100%;
		z-index: 2;
		font-family: arial;
		font-size: 85%;
	}

	.select-item-modal__itemImg {
		width: 50px;
		position: relative;
		border: 2px solid transparent;
		border-radius: 6px;
		background-clip: content-box;
		cursor: pointer;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.select-item-modal__itemName {
		display: inline-block;
		margin-top: 2px;
		fotn-size:90%;
	}

	.select-item-modal__btns {
		margin-top: 30px;

		.btn-text {
			margin-left: 10px;
			&:first-child {
				margin-left: 0;
			}
		}
	}

	&.is-active{
		background: rgba(0,0,0,0.7);
		visibility: visible;

		transition: all 0.25s;

		.select-item-modal__body {
			transform: translate3d(0,0px,0);
			opacity: 1;
		}
	}
}



/* SP */
@include media-sp {

.select-item-modal{
	padding:10px;

	.select-item-modal__body {
		padding: 10px;
	}


	.select-item-modal__items {
		td, th {
			padding: 5px;
		}

		th{
			width: auto;
		}
	}
}



}
