@charset "UTF-8";

/* --------------------------------------------------------------
    sns
-------------------------------------------------------------- */
.m-sns{
    li{
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
    }
    .m-sns-t{
        overflow: hidden;
    }

    #twitter-widget-0{
    	width: 100px!important;
    }

	.btn-about{
        text-align:center;
		display: block;
		width:22px;
		height: 22px;
		border-radius: 50%;
		background-color: #4a37ff;
		color:#fff;
		position: relative;
		top: -2px;
		font-weight: normal;
	}
}

/* PC */
@include media-pc {

}

/* SP */
@include media-sp {


}