/* --------------------------------------------------------------
    title
-------------------------------------------------------------- */
.tit_cursor{
  &:before{
    content:"";
    display:inline-block;
    background: url(../images/common/cursor.png) 0 0 no-repeat;
    width:20px;
    height:18px;
    background-size: 100% auto;
    position:relative;
    top:5px;
    margin-right:8px;
  }
}